html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    height: 100%;

}
#opening-page {
    margin-top: 2.1%;
    height: 48vw;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/db/57/8e/db578e97998d099f6a2e38de0e4bfee0.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
/* MAIN PAGE DESIGN */
    ul img {
        position: absolute;
        height: 80%;
        top: 10%;
        left: 1%;
    }
    #logo-letters {
        position: absolute;
        color: white;
        list-style-type: none;
        left: 5%;
        top: 30%;
        font-size: 1.5em;
    }
    #title {
        color: white;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        width: 25%;
        height: 10%;
        position: relative;
        top: 40%;
        left: 15%;
        background-color: brown;
        opacity: 0.8;
        border-radius: 50px;
    }

    #title-desc {
        position: relative;
        bottom: 15%;
        font-size: 0.9vw;
    }
    #title-main {
        position: relative;
        top: 10%;
        font-size: 2vw;
    }

    #nav-logo {
        height: 60px;
        width: 80px;
        justify-content: flex-start;
        z-index: 0;
        margin-right: 1100px;
    }
    #nav-logo:hover {
        filter: sepia();
        cursor: pointer;
    }
    #nav-bar {
        margin: 0 auto;
        z-index: 1;
        background-color: black;
        width: 100%;
        position: fixed;
    }
    ul {
        width: 100%;
        margin: auto;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
    }

    #nav-link { 
        list-style-type: none;
        padding: 20px;
        background-color: black;
        color: white;
        cursor: pointer;
        width: 7vw;
        text-align: center;
        text-decoration: none;
    }
    #nav-link:hover {
            -webkit-animation: focus-in-expand 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: focus-in-expand 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            background-color: brown;
    }
    #nav-link:active {
        background-color: brown;
    }
    #main-content {
        width: 100%;
        border-top: 5px black solid;
        background-color: black;
        
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        text-align: center;
        padding: 10px;
        width: 80%;
        margin-top: 1%;
        border: black 1px solid;
    }
    #details {
        text-align: center;
        margin-top: 1%;
        border: 1px black solid;
    }
    #submit {
        width: 84.3%;
        background-color: greenyellow;
    }
    #form-container {
        padding: 70px 50px;
        background-image: url("https://wallpaperaccess.com/full/1222907.jpg");
        background-size: cover;
        border-radius: 3px;
        margin-top: 8%;
    }
    #form label {
        margin-top: 5px;
    }

    #full-video-section {
        border-top: 5px black solid;
    }
    iframe {
        width: 100%;
        height: 43vw;
        border: none;
    }
    .benefits-container {
        display: flex;
    }
    .benefits-item {
        color: white;
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    #benefits img {
        height: 12vh;
        margin-right: 8px;
    }
    footer ul {
        margin-top: ;
        color: white;
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footer-margin {
        margin-left: 5vh;
        margin-bottom: 2vh;
    }
    textarea {
        width: 82.7%;
    }

  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .blur:hover {
      filter: blur(1px);
      cursor: pointer;
  }